* {
    margin: 0;
    padding: 0;
}
body {
    margin-top: 70px!important;
    background-image: url(../img/base_backgroud.png);
}
ul {
    list-style-type: none!important; 
}
ul.navbar-right {
    margin-right: 0; 
}
#captcha2{
    position: absolute;
    left: 50.5%;
    top: 170px;
    width: 43%;
    height: 40px
}